<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.evgen.android.apiclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

   <application
        android:name="by.evgen.android.apiclient.CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="by.evgen.android.apiclient.StartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="by.evgen.android.apiclient.DetailsFragmentActivity"
            android:parentActivityName="by.evgen.android.apiclient.WikiActivity"
            android:label="@string/app_name" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="by.evgen.android.apiclient.WikiActivity" />
            <meta-data android:name="android.app.default_searchable"
            android:value="by.evgen.android.apiclient.SearchFragmentActivity" />
        </activity>
        <activity
            android:name="by.evgen.android.apiclient.VkLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="by.evgen.android.apiclient.WikiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
            android:value="by.evgen.android.apiclient.SearchFragmentActivity" />
        </activity>

        <activity
            android:name="by.evgen.android.apiclient.SearchFragmentActivity"
            android:parentActivityName="by.evgen.android.apiclient.WikiActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.evgen.android.apiclient.WikiActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name=".account.WikiAuthService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/wiki_auth" />
        </service>

        <service
            android:name="by.evgen.android.apiclient.account.SyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
           <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <provider
            android:name="by.evgen.android.apiclient.db.provider.WikiContentProvider"
            android:authorities="by.evgen.android.apiclient.GeoData"
            android:exported="true"
            android:syncable="true"
            android:multiprocess="true" >
        </provider>

    </application>

</manifest>
